<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Touitf1</title>
    <meta name="description" content="Aggrégateur twitter de supervision de l'activité liée à TF1">
    <meta name="author" content="eTF1">
    <meta http-equiv="refresh" content="3600">
    <meta name="robots" content="noindex,nofollow">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/colorbox.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="/javascripts/jquery.colorbox-min.js"></script>
    <script>
      $(document).ready(function () {
        $('a.colorbox').colorbox({
                                  maxHeight:'80%',
                                  maxWidth:'80%'
                                });
      });
    </script>
    <style type="text/css">
      body {
        padding-top: 60px;
      }
      
      #tweets ul{
        height: 280px;
      }
      
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
    
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">touitf1</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <%- messages() %>
      
      <%- body %>

      <footer>
        <p>POC TouiF1 réalisé avec <a href="http://nodejs.org/" target="_blank">Node.js</a> et <a href="http://www.mongodb.org/" target="_blank">MongoDB</a> et hébergé dans les nuages d'<a href="http://aws.amazon.com/fr/" target="_blank"/>AWS</a></p>
      </footer>
    </div>
  </body>
</html>